In [2]:
import util.data_loading
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
df = util.data_loading.load_raw_data('CAPOP.csv')

Looking for file at: /home/alvaro/DataspellProjects/CA_Housing_Analysis/data/CAPOP.csv

In [4]:
df

    observation_date      CAPOP
0         1900-01-01   1490.000
1         1901-01-01   1550.000
2         1902-01-01   1623.000
3         1903-01-01   1702.000
4         1904-01-01   1792.000
..               ...        ...
120       2020-01-01  39521.958
121       2021-01-01  39142.565
122       2022-01-01  39142.414
123       2023-01-01  39198.693
124       2024-01-01  39431.263

[125 rows x 2 columns]

In [5]:
df.shape

(125, 2)

In [24]:
df = df.rename(columns={'observation_date': 'year', 'CAPOP': 'population'})

In [9]:
df

           year  population
0    1900-01-01    1490.000
1    1901-01-01    1550.000
2    1902-01-01    1623.000
3    1903-01-01    1702.000
4    1904-01-01    1792.000
..          ...         ...
120  2020-01-01   39521.958
121  2021-01-01   39142.565
122  2022-01-01   39142.414
123  2023-01-01   39198.693
124  2024-01-01   39431.263

[125 rows x 2 columns]

In [25]:
df["year"] =  pd.to_datetime(df["year"], format='mixed')
df["year"] = df["year"].dt.year
df["population"] = df["population"].astype(float)

In [26]:
df = df[df["year"] > 1999]

In [27]:
df

     year  population
100  2000   33987.977
101  2001   34479.458
102  2002   34871.843
103  2003   35253.159
104  2004   35574.576
105  2005   35827.943
106  2006   36021.202
107  2007   36250.311
108  2008   36604.337
109  2009   36961.229
110  2010   37319.550
111  2011   37636.311
112  2012   37944.551
113  2013   38253.768
114  2014   38586.706
115  2015   38904.296
116  2016   39149.186
117  2017   39337.785
118  2018   39437.463
119  2019   39437.610
120  2020   39521.958
121  2021   39142.565
122  2022   39142.414
123  2023   39198.693
124  2024   39431.263

In [28]:
df.to_csv("population_clean.csv", index=False, header=True, sep=",")