In [1]:
import util.data_loading
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# from src.median_price_EDA import ca_median

# Load in Data

In [2]:
debt_df= util.data_loading.load_raw_data('debt_2003_2025 _clean.csv')
debt_df2= util.data_loading.load_raw_data('debt_pre_2003.csv')

debt_df2= util.data_loading.load_raw_data('debt_pre_2003.csv')
debt_df2 = debt_df2.T

debt_df2.columns = debt_df2.iloc[0]
debt_df2 = debt_df2[1:]

debt_df2 = debt_df2.reset_index()
debt_df2 = debt_df2.rename(columns={"index": "quarter"})

debt_df = util.data_loading.clean_dates(debt_df)
debt_df2 = util.data_loading.clean_dates(debt_df2)

debt_all = pd.concat(
    [debt_df2, debt_df],
    axis=0,          # stack rows
    ignore_index=True
)

house_all =  util.data_loading.load_raw_data('housing_units_all.csv')

median = util.data_loading.load_raw_data('MedianPricesofExistingDetachedHomesHistoricalData - Median Price.csv')
median_all  = util.data_loading.clean_median(median)

population = util.data_loading.load_raw_data('population_clean.csv')

Looking for file at: /home/alvaro/DataspellProjects/CA_Housing_Analysis/data/debt_2003_2025 _clean.csv
Looking for file at: /home/alvaro/DataspellProjects/CA_Housing_Analysis/data/debt_pre_2003.csv
Looking for file at: /home/alvaro/DataspellProjects/CA_Housing_Analysis/data/debt_pre_2003.csv
Looking for file at: /home/alvaro/DataspellProjects/CA_Housing_Analysis/data/housing_units_all.csv
Looking for file at: /home/alvaro/DataspellProjects/CA_Housing_Analysis/data/MedianPricesofExistingDetachedHomesHistoricalData - Median Price.csv
Looking for file at: /home/alvaro/DataspellProjects/CA_Housing_Analysis/data/population_clean.csv

In [3]:
# median_all = median_all[median_all["Year"] >= 2000 & median_all["Year"] <= 2024]
median_all

,Mon-Yr,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Yuba,Unnamed: 55,Condo,LA Metro,Central Coast,Central Valley,Far North,Inland Empire,S.F. Bay Area,SoCal
0,1990-01-01,194952.0,226149.0,0.0,102143.0,0.0,0.0,0.0,0.0,82083.0,...,0.0,0.0,141519.0,203390.0,0.0,0.0,0.0,0.0,227366.0,0.0
1,1990-02-01,196273.0,219306.0,0.0,83333.0,0.0,0.0,0.0,0.0,87187.0,...,0.0,0.0,144965.0,211024.0,0.0,0.0,0.0,0.0,234739.0,0.0
2,1990-03-01,194856.0,225162.0,0.0,100000.0,0.0,0.0,0.0,0.0,83889.0,...,0.0,0.0,141132.0,209286.0,0.0,0.0,0.0,0.0,235337.0,0.0
3,1990-04-01,196111.0,229333.0,0.0,108000.0,0.0,0.0,0.0,0.0,85428.0,...,0.0,0.0,145707.0,210302.0,0.0,0.0,0.0,0.0,233178.0,0.0
4,1990-05-01,195281.0,232291.0,0.0,100000.0,0.0,0.0,0.0,0.0,88749.0,...,0.0,0.0,146060.0,210148.0,0.0,0.0,0.0,0.0,235881.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,2025-05-01,900170.0,1365000.0,440000.0,488750.0,499000.0,924950.0,505000.0,699000.0,440000.0,...,470000.0,0.0,675000.0,855000.0,1125000.0,510000.0,385000.0,610000.0,1400000.0,888000.0
425,2025-06-01,899790.0,1321000.0,412500.0,487000.0,465000.0,940000.0,405000.0,730000.0,438370.0,...,430000.0,0.0,670000.0,847970.0,1038000.0,499000.0,385000.0,605000.0,1400000.0,876840.0
426,2025-07-01,884050.0,1250000.0,415000.0,456500.0,456750.0,862500.0,369000.0,717500.0,440000.0,...,440000.0,0.0,647000.0,846500.0,1115680.0,500000.0,397000.0,589020.0,1300000.0,879000.0
427,2025-08-01,899130.0,1269000.0,469500.0,468000.0,540000.0,850000.0,352500.0,679500.0,446390.0,...,440000.0,0.0,649950.0,837040.0,1100000.0,495000.0,385000.0,600130.0,1275000.0,873480.0
428,2025-09-01,883640.0,1250000.0,421000.0,462000.0,455000.0,869000.0,455000.0,680000.0,445000.0,...,435000.0,0.0,650000.0,830000.0,1005000.0,499000.0,390500.0,591010.0,1300000.0,869250.0

In [4]:
house_all

,Area,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Alameda County,541385,546269,550054,553821,558677,564447,569206,575668,579064,...,593622,596473,600623,605146,610046,623350,629792,637701,644826,650523
1,Alpine County,1519,1540,1589,1646,1670,1688,1701,1726,1755,...,1774,1777,1778,1780,1785,1543,1545,1545,1548,1548
2,Amador County,15166,15456,15722,16046,16526,17042,17477,17724,17891,...,18164,18176,18203,18248,18310,18816,18915,19033,19127,19229
3,Butte County,85759,86745,87691,88729,90373,92258,93812,94841,95524,...,98018,98567,99177,99711,85787,90238,91037,92615,94290,95781
4,Calaveras County,22988,23429,23991,24527,25240,26097,26975,27473,27751,...,28299,27830,27988,28139,28239,27454,27583,27687,27778,27873
5,California,12250974,12400531,12552174,12721844,12920250,13128316,13334467,13491056,13596788,...,13959093,14036744,14127586,14214078,14292093,14417494,14524995,14642752,14762262,14877904
6,Colusa County,6789,6856,6935,7022,7200,7438,7590,7709,7830,...,8077,8099,8119,8160,8201,8107,8159,8220,8259,8291
7,Contra Costa County,355867,361186,366002,371890,379241,384970,391029,394773,397994,...,408591,410864,412936,414876,417180,423946,426402,429152,432044,434887
8,Del Norte County,10444,10483,10532,10606,10734,10939,11048,11068,11114,...,11264,11286,11313,11336,11372,11106,11165,11217,11283,11347
9,El Dorado County,71727,73535,75905,78037,80257,82697,84695,86057,87014,...,89493,90024,91057,91874,92259,93634,94292,94907,95227,95250
10,Fresno County,271364,274477,278226,282004,287713,294828,302095,307107,311666,...,326282,328680,330920,333175,335725,339016,341857,345051,347886,350647
11,Glenn County,9978,10000,10050,10096,10215,10345,10533,10666,10741,...,11024,11083,11129,11218,11304,10911,10986,11038,11131,11289
12,Humboldt County,56071,56744,57404,58029,58580,59331,59973,60543,61001,...,62409,62589,62776,63011,63244,62211,62570,62927,63237,63491
13,Imperial County,44078,44884,45971,47027,48285,50138,52362,54517,55455,...,57054,57277,57558,57861,58151,56754,57464,58214,58686,58995
14,Inyo County,9061,9108,9157,9205,9263,9328,9382,9418,9455,...,9493,9501,9513,9521,9535,9479,9509,9524,9537,9550
15,Kern County,232436,235932,239933,245018,251518,258904,268242,275490,279952,...,293571,295483,297436,298976,300768,301628,304438,307222,309715,312134
16,Kings County,36687,37188,37902,38658,39738,40678,41841,42728,43267,...,45077,45568,46016,46290,46615,46376,46634,46955,47324,47579
17,Lake County,32556,32669,32753,33047,33580,34236,34755,35242,35529,...,35759,34372,34512,34637,34407,34252,34323,34363,34474,34634
18,Lassen County,12021,12095,12192,12283,12397,12534,12662,12747,12752,...,12739,12743,12750,12758,12769,12219,12238,12240,12241,12244
19,Los Angeles County,3275078,3291517,3309185,3324660,3344587,3370334,3392672,3415650,3432701,...,3497737,3517649,3539044,3560034,3581695,3598028,3621314,3646912,3677367,3709507
20,Madera County,40518,41081,41780,42662,43792,45362,47471,48674,49041,...,49850,50037,50205,50390,50636,49667,50155,50891,51774,52624
21,Marin County,105156,105861,106452,106930,107683,108773,109604,110212,110661,...,111856,111955,112145,112345,112461,111611,111805,112061,112372,112687
22,Mariposa County,8842,8944,9054,9260,9434,9640,9879,10024,10124,...,10455,10488,10516,10475,10522,9779,9848,9854,9841,9862
23,Mendocino County,37024,37363,37746,38170,38645,39112,39493,39824,40076,...,40804,40857,40923,40656,40865,41382,41460,41632,41836,42013
24,Merced County,68875,70113,71075,72672,75247,77686,81109,83059,83633,...,84509,84889,85522,86417,87407,88206,89841,91210,92170,92949
25,Modoc County,4805,4832,4859,4903,4951,5001,5059,5105,5143,...,5237,5244,5253,5258,5263,4754,4762,4767,4767,4771
26,Mono County,11810,12061,12363,12465,12791,13037,13590,13754,13851,...,14001,14023,14052,14082,14131,13583,13615,13682,13738,13802
27,Monterey County,132051,133441,134192,135076,136092,136963,138035,138499,139163,...,140434,140757,141206,141801,142519,143753,144558,145543,146358,147126
28,Napa County,48719,49293,50229,51257,51912,52882,53614,54125,54451,...,55312,55461,55644,55157,55223,55375,55450,55834,56082,56351
29,Nevada County,44544,45513,46419,47480,48561,49698,50697,51481,52071,...,53257,53445,53641,53855,54068,53718,54078,54342,54608,54895
30,Orange County,972611,985022,993678,1005278,1014596,1023742,1030732,1038419,1045083,...,1075671,1083089,1092124,1102024,1110623,1131630,1138772,1146007,1153534,1161012
31,Placer County,108665,115275,121381,128764,134170,138611,144069,147329,149817,...,159448,161433,163659,166189,168544,172920,175698,179166,182561,185727
32,Plumas County,13434,13635,13851,14134,14395,14697,15065,15296,15461,...,15764,15796,15830,15871,15910,15407,15122,14632,14683,14742
33,Riverside County,588488,605084,625450,649730,681618,714686,750829,776659,790064,...,825627,831503,837773,844373,851995,850612,860060,869434,878733,888186
34,Sacramento County,476695,484023,492803,506842,522749,534429,544385,550026,553378,...,563708,565874,568772,572357,576768,588673,593317,598332,603363,608149
35,San Benito County,16617,17127,17441,17566,17649,17747,17854,17862,17868,...,18304,18429,18722,19165,19655,20476,20989,21420,21718,22034
36,San Bernardino County,602918,609501,618334,628572,640584,658704,675259,688069,695367,...,710537,713663,717732,721810,725211,732883,737792,743859,749729,755367
37,San Diego County,1044144,1060146,1075986,1090165,1108796,1125143,1140067,1149468,1157000,...,1191672,1198208,1206588,1215560,1223945,1230332,1239349,1250470,1261535,1271955
38,San Francisco County,347258,350534,353178,358870,360957,363667,366894,369960,373123,...,386844,390825,395613,398990,402531,407610,411807,415356,417856,420097
39,San Joaquin County,190509,195905,200292,206444,213539,220356,226270,229893,232303,...,238643,240201,242209,244960,247785,252372,256457,260858,264366,266969
40,San Luis Obispo County,102684,104200,105976,107798,109910,112226,114369,115865,116840,...,119995,120672,121344,122223,123216,123931,124827,125763,126573,127244
41,San Mateo County,261100,263233,264529,265931,267118,268151,268732,269521,270116,...,275313,276605,277619,278650,280078,284077,285659,287134,288648,290438
42,Santa Barbara County,143164,144550,145887,147801,149181,150576,151506,152178,152659,...,155940,157053,158106,159374,160722,158588,159736,160817,161702,162351
43,Santa Clara County,581072,587852,593986,598670,605913,611603,617462,623545,627669,...,654687,659621,664930,669712,673019,689472,694377,698942,703512,707619
44,Santa Cruz County,98986,99456,99978,100510,101512,102268,103066,103648,104325,...,105276,105417,105550,105778,106023,106446,106598,106839,107212,107665
45,Shasta County,69020,69883,70800,72023,73292,74271,75729,76501,76997,...,78244,78455,78639,78796,78132,79484,79778,80020,80377,80742
46,Sierra County,2197,2214,2224,2240,2262,2281,2294,2309,2320,...,2336,2339,2342,2347,2352,2127,2130,2136,2140,2139
47,Siskiyou County,21983,22145,22291,22473,22779,23141,23590,23756,23854,...,24000,24051,24134,24190,24226,22933,23017,23162,23194,23204
48,Solano County,135034,137197,139688,142085,144667,147570,149852,150957,151866,...,155899,156960,158166,159185,160100,162430,163302,164429,165836,167424
49,Sonoma County,183846,186590,189421,191620,194184,196459,199583,201702,203314,...,207139,207716,208462,204265,205525,204918,205952,207454,209175,211015
50,Stanislaus County,151433,154556,157813,161237,165190,169253,173921,176641,178579,...,180583,181063,181634,182203,182786,183314,184138,185159,186167,187059
51,Sutter County,28383,28614,29043,29699,30670,31950,33205,33533,33771,...,34175,34276,34355,34383,34454,34532,34676,34818,34923,34999
52,Tehama County,23610,23832,24021,24315,24760,25505,26203,26693,26891,...,27389,27482,27577,27637,27676,27373,27485,27549,27601,27654
53,Trinity County,7986,8044,8116,8184,8274,8389,8490,8571,8628,...,8756,8778,8839,8913,8950,8159,8088,8070,8105,8136
54,Tulare County,120048,121679,123454,125448,127749,130319,133630,137057,139591,...,146422,147515,148710,149976,151360,151135,152736,154008,155686,157680
55,Tuolumne County,28424,28734,29020,29422,29826,30280,30709,30950,31104,...,31409,31445,31515,31589,31649,31429,31504,31576,31631,31683
56,Ventura County,252796,257075,260877,263779,267659,270687,275596,278150,280033,...,286447,287583,288440,289337,290348,293299,294358,295922,297381,298400
57,Yolo County,61911,63196,64583,66081,67935,70242,72045,73373,74358,...,76695,77305,77939,78553,79174,80465,81439,82472,83547,84478
58,Yuba County,22640,22614,22710,22937,23414,24977,26460,27221,27739,...,28008,28190,28308,28481,28849,29571,30037,30609,31248,31857

In [5]:
debt_all

,quarter,Mortgage,HE Revolving,Auto Loan,Credit Card,Other,Total,yy,q,year,quarter_start,Student Loan
0,1999Q1,3.2,0.08,0.35,0.48,0.43,4.54,99,1,1999,1999-01-01,NaN
1,1999Q2,3.31,0.08,0.35,0.48,0.41,4.63,99,2,1999,1999-04-01,NaN
2,1999Q3,3.46,0.09,0.38,0.5,0.39,4.82,99,3,1999,1999-07-01,NaN
3,1999Q4,3.37,0.1,0.39,0.5,0.4,4.76,99,4,1999,1999-10-01,NaN
4,2000Q1,3.62,0.1,0.41,0.52,0.41,5.06,0,1,2000,2000-01-01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
99,2023Q4,12.25,0.36,1.607,1.129,0.554,17.503,23,4,2023,2023-10-01,1.601
100,2024Q1,12.44,0.376,1.616,1.115,0.543,17.687,24,1,2024,2024-01-01,1.595
101,2024Q2,12.52,0.38,1.626,1.142,0.544,17.796,24,2,2024,2024-04-01,1.585
102,2024Q3,12.59,0.387,1.644,1.166,0.546,17.943,24,3,2024,2024-07-01,1.606
103,2024Q4,12.61,0.396,1.655,1.211,0.554,18.036,24,4,2024,2024-10-01,1.615

In [23]:
ca_median = util.data_loading.get_median_prices(median_all,'CA')
ca_median = ca_median[(ca_median["Year"] >= 2000) & (ca_median["Year"] <= 2024)]
ca_median

           CA  Year
131  248354.0  2000
143  281332.0  2001
155  338836.0  2002
167  401720.0  2003
179  474270.0  2004
191  547400.0  2005
203  569560.0  2006
215  480820.0  2007
227  283060.0  2008
239  306860.0  2009
251  304770.0  2010
263  288950.0  2011
275  365840.0  2012
287  438790.0  2013
299  453270.0  2014
311  489770.0  2015
323  510560.0  2016
335  546550.0  2017
347  557740.0  2018
359  614880.0  2019
371  717930.0  2020
383  797150.0  2021
395  770490.0  2022
407  819820.0  2023
419  861020.0  2024

In [7]:
sd_median = util.data_loading.get_median_prices(median_all,'San Diego')
sd_median = sd_median[(sd_median["Year"] >= 2000) & (sd_median["Year"] <= 2024)]
sd_median

     San Diego  Year
131   278906.0  2000
143   311835.0  2001
155   381440.0  2002
167   466030.0  2003
179   577041.0  2004
191   603679.0  2005
203   585974.0  2006
215   495497.0  2007
227   346597.0  2008
239   382226.0  2009
251   375790.0  2010
263   359930.0  2011
275   418290.0  2012
287   479690.0  2013
299   494500.0  2014
311   530000.0  2015
323   568000.0  2016
335   605000.0  2017
347   618500.0  2018
359   655000.0  2019
371   730000.0  2020
383   836700.0  2021
395   850000.0  2022
407   911500.0  2023
419   975000.0  2024

In [8]:
mortgage_debt =  util.data_loading.get_debt(debt_all,"Mortgage")
mortgage_debt = mortgage_debt[(mortgage_debt["Year"] >= 2000) & (mortgage_debt["Year"] <= 2024)]
mortgage_debt

    Mortgage  Year
7        3.9  2000
11      4.15  2001
15      4.66  2002
19      5.66  2003
23      6.36  2004
27       7.1  2005
31      8.23  2006
35       9.1  2007
39      9.26  2008
43      8.84  2009
47      8.45  2010
51      8.27  2011
55      8.03  2012
59      8.05  2013
63      8.17  2014
67      8.25  2015
71      8.48  2016
75      8.88  2017
79      9.12  2018
83      9.56  2019
87     10.04  2020
91     10.93  2021
95     11.92  2022
99     12.25  2023
103    12.61  2024

In [9]:
mortgage_debt = mortgage_debt.apply(pd.to_numeric, errors="coerce")

In [10]:
ca_units = util.data_loading.get_unit_estimates(house_all, "California")
ca_units = ca_units[(ca_units["Year"] >= 2000) & (ca_units["Year"] <= 2024)]
ca_units

    Year     units
0   2000  12250974
1   2001  12400531
2   2002  12552174
3   2003  12721844
4   2004  12920250
5   2005  13128316
6   2006  13334467
7   2007  13491056
8   2008  13596788
9   2009  13655854
10  2010  13680081
11  2011  13731743
12  2012  13772321
13  2013  13824780
14  2014  13889330
15  2015  13959093
16  2016  14036744
17  2017  14127586
18  2018  14214078
19  2019  14292093
20  2020  14417494
21  2021  14524995
22  2022  14642752
23  2023  14762262
24  2024  14877904

## Function for running Regression on specific cities wihtout having to run each cell

In [25]:
def regression(city):
    median = util.data_loading.get_median_prices(median_all,city)
    median = median[(median["Year"] >= 2000) & (median["Year"] <= 2024)]


    features = (
    median.merge(mortgage_debt, on="Year", how="inner")
       .merge(ca_units, on="Year", how="inner").merge(population, on="Year", how="inner")
    )
    print(features)

    X = features[["Mortgage", "units", "population"]]
    y = features[city]

    X = sm.add_constant(X[['Mortgage', 'units', 'population']])
    model = sm.OLS(y, X).fit()
    print(model.summary())

In [26]:
regression("Los Angeles")

    Los Angeles  Year  Mortgage     units  population
0      221340.0  2000      3.90  12250974   33987.977
1      255191.0  2001      4.15  12400531   34479.458
2      307489.0  2002      4.66  12552174   34871.843
3      378200.0  2003      5.66  12721844   35253.159
4      459461.0  2004      6.36  12920250   35574.576
5      534443.0  2005      7.10  13128316   35827.943
6      585447.0  2006      8.23  13334467   36021.202
7      505577.0  2007      9.10  13491056   36250.311
8      318075.0  2008      9.26  13596788   36604.337
9      332267.0  2009      8.84  13655854   36961.229
10     328140.0  2010      8.45  13680081   37319.550
11     306950.0  2011      8.27  13731743   37636.311
12     367400.0  2012      8.03  13772321   37944.551
13     439830.0  2013      8.05  13824780   38253.768
14     464650.0  2014      8.17  13889330   38586.706
15     502750.0  2015      8.25  13959093   38904.296
16     522520.0  2016      8.48  14036744   39149.186
17     577690.0  2017      8.88  14127586   39337.785
18     588140.0  2018      9.12  14214078   39437.463
19     641340.0  2019      9.56  14292093   39437.610
20     660000.0  2020     10.04  14417494   39521.958
21     826500.0  2021     10.93  14524995   39142.565
22     799670.0  2022     11.92  14642752   39142.414
23     853340.0  2023     12.25  14762262   39198.693
24     912370.0  2024     12.61  14877904   39431.263
                            OLS Regression Results
==============================================================================
Dep. Variable:            Los Angeles   R-squared:                       0.704
Model:                            OLS   Adj. R-squared:                  0.661
Method:                 Least Squares   F-statistic:                     16.62
Date:                Wed, 03 Dec 2025   Prob (F-statistic):           9.21e-06
Time:                        13:49:48   Log-Likelihood:                -324.11
No. Observations:                  25   AIC:                             656.2
Df Residuals:                      21   BIC:                             661.1
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3.079e+06   2.79e+06     -1.102      0.283   -8.89e+06    2.73e+06
Mortgage   -4.168e+04   1.06e+05     -0.392      0.699   -2.63e+05    1.79e+05
units          0.6446      0.623      1.035      0.313      -0.651       1.940
population  -130.6059    134.046     -0.974      0.341    -409.370     148.159
==============================================================================
Omnibus:                        4.079   Durbin-Watson:                   0.328
Prob(Omnibus):                  0.130   Jarque-Bera (JB):                3.514
Skew:                          -0.896   Prob(JB):                        0.173
Kurtosis:                       2.599   Cond. No.                     1.70e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.7e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

In [27]:
regression("LA Metro")

    LA Metro  Year  Mortgage     units  population
0   214422.0  2000      3.90  12250974   33987.977
1   244761.0  2001      4.15  12400531   34479.458
2   293910.0  2002      4.66  12552174   34871.843
3   356069.0  2003      5.66  12721844   35253.159
4   435410.0  2004      6.36  12920250   35574.576
5   490035.0  2005      7.10  13128316   35827.943
6   535145.0  2006      8.23  13334467   36021.202
7   455072.0  2007      9.10  13491056   36250.311
8   264178.0  2008      9.26  13596788   36604.337
9   276126.0  2009      8.84  13655854   36961.229
10  278360.0  2010      8.45  13680081   37319.550
11  265830.0  2011      8.27  13731743   37636.311
12  334460.0  2012      8.03  13772321   37944.551
13  400160.0  2013      8.05  13824780   38253.768
14  413150.0  2014      8.17  13889330   38586.706
15  448930.0  2015      8.25  13959093   38904.296
16  464640.0  2016      8.48  14036744   39149.186
17  495000.0  2017      8.88  14127586   39337.785
18  500000.0  2018      9.12  14214078   39437.463
19  550000.0  2019      9.56  14292093   39437.610
20  625250.0  2020     10.04  14417494   39521.958
21  720000.0  2021     10.93  14524995   39142.565
22  716500.0  2022     11.92  14642752   39142.414
23  760000.0  2023     12.25  14762262   39198.693
24  815500.0  2024     12.61  14877904   39431.263
                            OLS Regression Results
==============================================================================
Dep. Variable:               LA Metro   R-squared:                       0.651
Model:                            OLS   Adj. R-squared:                  0.601
Method:                 Least Squares   F-statistic:                     13.06
Date:                Wed, 03 Dec 2025   Prob (F-statistic):           4.95e-05
Time:                        13:50:51   Log-Likelihood:                -323.08
No. Observations:                  25   AIC:                             654.2
Df Residuals:                      21   BIC:                             659.0
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3.025e+06   2.68e+06     -1.128      0.272    -8.6e+06    2.55e+06
Mortgage   -5.418e+04   1.02e+05     -0.531      0.601   -2.66e+05    1.58e+05
units          0.6695      0.598      1.120      0.275      -0.574       1.913
population  -139.7860    128.645     -1.087      0.290    -407.318     127.746
==============================================================================
Omnibus:                        4.378   Durbin-Watson:                   0.307
Prob(Omnibus):                  0.112   Jarque-Bera (JB):                3.699
Skew:                          -0.931   Prob(JB):                        0.157
Kurtosis:                       2.712   Cond. No.                     1.70e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.7e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

In [28]:
regression("Orange")

       Orange  Year  Mortgage     units  population
0    322046.0  2000      3.90  12250974   33987.977
1    360836.0  2001      4.15  12400531   34479.458
2    428313.0  2002      4.66  12552174   34871.843
3    546527.0  2003      5.66  12721844   35253.159
4    635446.0  2004      6.36  12920250   35574.576
5    719619.0  2005      7.10  13128316   35827.943
6    714820.0  2006      8.23  13334467   36021.202
7    656441.0  2007      9.10  13491056   36250.311
8    453524.0  2008      9.26  13596788   36604.337
9    544300.0  2009      8.84  13655854   36961.229
10   499810.0  2010      8.45  13680081   37319.550
11   484630.0  2011      8.27  13731743   37636.311
12   582930.0  2012      8.03  13772321   37944.551
13   677660.0  2013      8.05  13824780   38253.768
14   683490.0  2014      8.17  13889330   38586.706
15   700000.0  2015      8.25  13959093   38904.296
16   745000.0  2016      8.48  14036744   39149.186
17   785500.0  2017      8.88  14127586   39337.785
18   785000.0  2018      9.12  14214078   39437.463
19   840000.0  2019      9.56  14292093   39437.610
20   950000.0  2020     10.04  14417494   39521.958
21  1182500.0  2021     10.93  14524995   39142.565
22  1131760.0  2022     11.92  14642752   39142.414
23  1300000.0  2023     12.25  14762262   39198.693
24  1362000.0  2024     12.61  14877904   39431.263
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Orange   R-squared:                       0.783
Model:                            OLS   Adj. R-squared:                  0.752
Method:                 Least Squares   F-statistic:                     25.30
Date:                Wed, 03 Dec 2025   Prob (F-statistic):           3.61e-07
Time:                        13:51:36   Log-Likelihood:                -329.20
No. Observations:                  25   AIC:                             666.4
Df Residuals:                      21   BIC:                             671.3
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -7.611e+06   3.43e+06     -2.221      0.037   -1.47e+07   -4.86e+05
Mortgage   -1.786e+05    1.3e+05     -1.371      0.185   -4.49e+05    9.23e+04
units          1.6476      0.764      2.157      0.043       0.059       3.236
population  -339.8722    164.350     -2.068      0.051    -681.657       1.912
==============================================================================
Omnibus:                        2.854   Durbin-Watson:                   0.347
Prob(Omnibus):                  0.240   Jarque-Bera (JB):                2.345
Skew:                          -0.731   Prob(JB):                        0.310
Kurtosis:                       2.664   Cond. No.                     1.70e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.7e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

In [29]:
regression("Ventura")

     Ventura  Year  Mortgage     units  population
0   298450.0  2000      3.90  12250974   33987.977
1   317836.0  2001      4.15  12400531   34479.458
2   400407.0  2002      4.66  12552174   34871.843
3   488695.0  2003      5.66  12721844   35253.159
4   612460.0  2004      6.36  12920250   35574.576
5   675675.0  2005      7.10  13128316   35827.943
6   670833.0  2006      8.23  13334467   36021.202
7   604729.0  2007      9.10  13491056   36250.311
8   370754.0  2008      9.26  13596788   36604.337
9   427894.0  2009      8.84  13655854   36961.229
10  441570.0  2010      8.45  13680081   37319.550
11  391060.0  2011      8.27  13731743   37636.311
12  446150.0  2012      8.03  13772321   37944.551
13  535180.0  2013      8.05  13824780   38253.768
14  569600.0  2014      8.17  13889330   38586.706
15  601910.0  2015      8.25  13959093   38904.296
16  589150.0  2016      8.48  14036744   39149.186
17  645000.0  2017      8.88  14127586   39337.785
18  640000.0  2018      9.12  14214078   39437.463
19  657000.0  2019      9.56  14292093   39437.610
20  740000.0  2020     10.04  14417494   39521.958
21  850000.0  2021     10.93  14524995   39142.565
22  818000.0  2022     11.92  14642752   39142.414
23  882500.0  2023     12.25  14762262   39198.693
24  895000.0  2024     12.61  14877904   39431.263
                            OLS Regression Results
==============================================================================
Dep. Variable:                Ventura   R-squared:                       0.627
Model:                            OLS   Adj. R-squared:                  0.573
Method:                 Least Squares   F-statistic:                     11.75
Date:                Wed, 03 Dec 2025   Prob (F-statistic):           9.89e-05
Time:                        13:57:43   Log-Likelihood:                -324.02
No. Observations:                  25   AIC:                             656.0
Df Residuals:                      21   BIC:                             660.9
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1.261e+06   2.78e+06     -0.453      0.655   -7.05e+06    4.53e+06
Mortgage    1.042e+04   1.06e+05      0.098      0.923    -2.1e+05    2.31e+05
units          0.2759      0.621      0.444      0.661      -1.015       1.567
population   -54.0165    133.590     -0.404      0.690    -331.832     223.799
==============================================================================
Omnibus:                        2.425   Durbin-Watson:                   0.466
Prob(Omnibus):                  0.297   Jarque-Bera (JB):                1.692
Skew:                          -0.636   Prob(JB):                        0.429
Kurtosis:                       2.930   Cond. No.                     1.70e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.7e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

In [30]:
regression("Riverside")

    Riverside  Year  Mortgage     units  population
0    162607.0  2000      3.90  12250974   33987.977
1    183627.0  2001      4.15  12400531   34479.458
2    218657.0  2002      4.66  12552174   34871.843
3    277239.0  2003      5.66  12721844   35253.159
4    364932.0  2004      6.36  12920250   35574.576
5    411329.0  2005      7.10  13128316   35827.943
6    427333.0  2006      8.23  13334467   36021.202
7    345597.0  2007      9.10  13491056   36250.311
8    201751.0  2008      9.26  13596788   36604.337
9    191344.0  2009      8.84  13655854   36961.229
10   205220.0  2010      8.45  13680081   37319.550
11   203650.0  2011      8.27  13731743   37636.311
12   251520.0  2012      8.03  13772321   37944.551
13   310020.0  2013      8.05  13824780   38253.768
14   322020.0  2014      8.17  13889330   38586.706
15   341000.0  2015      8.25  13959093   38904.296
16   360000.0  2016      8.48  14036744   39149.186
17   385000.0  2017      8.88  14127586   39337.785
18   398000.0  2018      9.12  14214078   39437.463
19   420000.0  2019      9.56  14292093   39437.610
20   488250.0  2020     10.04  14417494   39521.958
21   586000.0  2021     10.93  14524995   39142.565
22   575000.0  2022     11.92  14642752   39142.414
23   605000.0  2023     12.25  14762262   39198.693
24   624790.0  2024     12.61  14877904   39431.263
                            OLS Regression Results
==============================================================================
Dep. Variable:              Riverside   R-squared:                       0.611
Model:                            OLS   Adj. R-squared:                  0.556
Method:                 Least Squares   F-statistic:                     11.00
Date:                Wed, 03 Dec 2025   Prob (F-statistic):           0.000150
Time:                        13:58:22   Log-Likelihood:                -319.41
No. Observations:                  25   AIC:                             646.8
Df Residuals:                      21   BIC:                             651.7
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -2.292e+06   2.32e+06     -0.990      0.334   -7.11e+06    2.52e+06
Mortgage    -3.95e+04    8.8e+04     -0.449      0.658   -2.23e+05    1.44e+05
units          0.5167      0.516      1.001      0.328      -0.557       1.590
population  -109.4251    111.069     -0.985      0.336    -340.407     121.556
==============================================================================
Omnibus:                        3.236   Durbin-Watson:                   0.290
Prob(Omnibus):                  0.198   Jarque-Bera (JB):                2.653
Skew:                          -0.783   Prob(JB):                        0.265
Kurtosis:                       2.695   Cond. No.                     1.70e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.7e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

In [47]:
features = (
    ca_median.merge(mortgage_debt, on="Year", how="inner")
       .merge(ca_units, on="Year", how="inner").merge(population, on="Year", how="inner")
)

In [19]:
features = (
    sd_median.merge(mortgage_debt, on="Year", how="inner")
       .merge(ca_units, on="Year", how="inner").merge(population, on="Year", how="inner")
)

In [20]:
features

    San Diego  Year  Mortgage     units  population
0    278906.0  2000      3.90  12250974   33987.977
1    311835.0  2001      4.15  12400531   34479.458
2    381440.0  2002      4.66  12552174   34871.843
3    466030.0  2003      5.66  12721844   35253.159
4    577041.0  2004      6.36  12920250   35574.576
5    603679.0  2005      7.10  13128316   35827.943
6    585974.0  2006      8.23  13334467   36021.202
7    495497.0  2007      9.10  13491056   36250.311
8    346597.0  2008      9.26  13596788   36604.337
9    382226.0  2009      8.84  13655854   36961.229
10   375790.0  2010      8.45  13680081   37319.550
11   359930.0  2011      8.27  13731743   37636.311
12   418290.0  2012      8.03  13772321   37944.551
13   479690.0  2013      8.05  13824780   38253.768
14   494500.0  2014      8.17  13889330   38586.706
15   530000.0  2015      8.25  13959093   38904.296
16   568000.0  2016      8.48  14036744   39149.186
17   605000.0  2017      8.88  14127586   39337.785
18   618500.0  2018      9.12  14214078   39437.463
19   655000.0  2019      9.56  14292093   39437.610
20   730000.0  2020     10.04  14417494   39521.958
21   836700.0  2021     10.93  14524995   39142.565
22   850000.0  2022     11.92  14642752   39142.414
23   911500.0  2023     12.25  14762262   39198.693
24   975000.0  2024     12.61  14877904   39431.263

In [21]:
X = features[["Mortgage", "units", "population"]]
y = features["San Diego"]

In [14]:
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [16]:
feature_names = X.columns
feature_names

Index(['Mortgage', 'units', 'population'], dtype='object')

In [17]:
features.dtypes

San Diego     float64
Year            int32
Mortgage      float64
units           int64
population    float64
dtype: object

In [22]:
X = sm.add_constant(X[['Mortgage', 'units', 'population']])
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              San Diego   R-squared:                       0.658
Model:                            OLS   Adj. R-squared:                  0.609
Method:                 Least Squares   F-statistic:                     13.45
Date:                Wed, 03 Dec 2025   Prob (F-statistic):           4.06e-05
Time:                        13:42:35   Log-Likelihood:                -325.48
No. Observations:                  25   AIC:                             659.0
Df Residuals:                      21   BIC:                             663.8
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3.769e+06   2.95e+06     -1.276      0.216   -9.91e+06    2.37e+06
Mortgage   -7.699e+04   1.12e+05     -0.686      0.500    -3.1e+05    1.56e+05
units          0.8390      0.658      1.274      0.216      -0.530       2.208
population  -174.1085    141.639     -1.229      0.233    -468.664     120.447
==============================================================================
Omnibus:                        1.922   Durbin-Watson:                   0.256
Prob(Omnibus):                  0.382   Jarque-Bera (JB):                1.694
Skew:                          -0.572   Prob(JB):                        0.429
Kurtosis:                       2.437   Cond. No.                     1.70e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.7e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

In [51]:


import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [52]:
pca = PCA(n_components=2)
X_pca = pca.fit_transform(X_scaled)

In [53]:
X_pca_df = pd.DataFrame(X_pca, columns=['PC1', 'PC2'])
X_pca_df = sm.add_constant(X_pca_df)

In [55]:
loadings = pca.components_
print(loadings)

[[ 0.56810275  0.59531297  0.56820923]
 [ 0.70778292 -0.00116565 -0.70642903]]

In [58]:
pca.explained_variance_ratio_

array([0.93956203, 0.05988843])

In [54]:
model = sm.OLS(y, X_pca_df).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     CA   R-squared:                       0.607
Model:                            OLS   Adj. R-squared:                  0.572
Method:                 Least Squares   F-statistic:                     17.00
Date:                Sun, 30 Nov 2025   Prob (F-statistic):           3.43e-05
Time:                        20:31:13   Log-Likelihood:                -326.25
No. Observations:                  25   AIC:                             658.5
Df Residuals:                      22   BIC:                             662.2
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.988e+05    2.4e+04     20.786      0.000    4.49e+05    5.49e+05
PC1         8.087e+04   1.43e+04      5.658      0.000    5.12e+04    1.11e+05
PC2         7.999e+04   5.66e+04      1.413      0.172   -3.74e+04    1.97e+05
==============================================================================
Omnibus:                        4.005   Durbin-Watson:                   0.309
Prob(Omnibus):                  0.135   Jarque-Bera (JB):                3.365
Skew:                          -0.885   Prob(JB):                        0.186
Kurtosis:                       2.690   Cond. No.                         3.96
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.